root = true

[*]
charset = utf-8
tab_width = 2
indent_size = tab
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf

[*.{java,kt}]
max_line_length = 144

[*.xml]
ij_xml_keep_blank_lines = 1
ij_xml_align_attributes = true

[*.json]
ij_json_keep_blank_lines_in_code = 1
ij_json_property_alignment = align_on_colon
