<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration>
<configuration debug="false"
               xmlns="http://ch.qos.logback/xml/ns/logback"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd">

  <property name="console.pattern"
            value="%gray(%date{HH:mm:ss.SSS}) %yellow(%-5level) [%blue(%thread)] %cyan(%logger{1}) %msg%n" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${console.pattern}</pattern>
    </encoder>
  </appender>

  <logger name="org.mariadb.jdbc" level="OFF" />

  <root level="${LOG_LEVEL:-INFO}">
    <appender-ref ref="STDOUT" />
  </root>

  <shutdownHook />

</configuration>
